* {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

nav {
  background-color: gray;
}

main {
  background-color: red;
}

h2 {
  padding: 10px;
}

.card-area {
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
}

.card-structure {
  display: inline-block;
  background-color: white;
  padding: 10px;
  margin: 10px;
  width: 21%;
  height: 350px;
}